body {
    background-image: url(bg.jpg);
    background-position: 30% 45%, bottom left;
    background-repeat: no-repeat;
}

.banner {
    position: fixed;
    top: 30%;
    left: 30%;
    width: 80%
}

.base {
    position: fixed;
    top: 70%;
    left: 30%;
    width: 80%;
    color: lawngreen;
    font-size: 16px;
    font-family: 'Arial' sans-serif;
}


.base img {
    width: 100px;
}

.base a {
    color: ivory;
}

.blank {
    width: 100px;
}

.text {
    position: fixed;
    top: 50%;
    left: 30%;
    width: 80%;
    color: ivory;
    font-size: 18px;
    font-family: 'Arial' sans-serif;
}

.info {
    background-color: black;
    position: fixed;
    right: 0px;
    bottom: 0px;
    color: orange;
    font-family: 'Consolas';
}
